<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>

  <body class="container">
    <%- include('./partials/header'); %>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" aria-current="page">
            <a href="/">
              Home
            </a>
          </li>
          <li class="breadcrumb-item" aria-current="page">
            <a href="/<%= app %>">
              <%= app %>
            </a>
          </li>
          <li class="breadcrumb-item" aria-current="page">
            <a href="/<%= app %>/<%= vertexName %>">
              <%= vertexName %>
            </a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            List
          </li>
        </ol>
      </nav>
      <div class="container">
        <div class="row row-cols-2 row-cols-lg-3">
          <% listItems.forEach(item=> { %>
            <%- include('./partials/item', { vertexName, app, item: item }) %>
              <% }); %>
        </div>
      </div>
      <div class="container">
        <pre>
          <%- rawJSON %>
        </pre>
      </div>
  </body>

</html>